@model Project

@{
    ViewData["Title"] = "Add Project";
}

<form asp-controller="Project" asp-action="AddNewProject" method="post" enctype="application/x-www-form-urlencoded">
    @{
        await Html.RenderPartialAsync("_CRUDFormPartial", Model);
    }
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Project" asp-action="GetAllProjects" class="btn btn-primary">Cancel</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }