@model Project

@{
    ViewData["Title"] = "Edit Project";
}

<form asp-controller="Project" asp-action="ProcessEditRequest" method="post" enctype="application/x-www-form-urlencoded">
    @{
        await Html.RenderPartialAsync("_CRUDFormPartial", Model);
    }
        
    <input type="hidden" asp-for="ProjectId" />

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-controller="Project" asp-action="GetAllProjects" class="btn btn-primary">Cancel</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }